#graphPolar{
  margin-right: 50px;
  margin-left: 100px;
  margin-top: 100px;
  width: 500px;
  height: 500px;
  position: fixed;  /* Fijar la posición del gráfico */
  bottom: 10;        /* Colocar el gráfico en la parte inferior de la página */
  left: 5;          /* Opcional: Alinear el gráfico a la izquierda */
  right: 0;
}
.box {
  background: fixed;
  height: 620px;
  width: 1000px;
}

.box .rectangle {
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 60px;
  background-color: #d1e8eb9e;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040;
  height: 500px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1200px;
}
#fuente {
  font-size: small;
}
#ajuste{
  padding-left: 20px;
  padding-right: 50px;
  position: fixed;
}

#label{
  top: 20px;
}


#bg-container{
  background-color: #e3f0f2;
  border-radius: 16px 16px 0 0;
}

#bg-container2{
  background-color: #e3f0f2;
  border-radius: 0 0 16px 16px;
}


.row.sastifaccion_filtrado{
  flex-wrap: wrap;
}
.card{
  background-color: #b9e3eb;
}