.section_resetContra{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url('/src/components/assets/img/background7.png'); /* Reemplaza 'ruta-de-la-imagen.jpg' con la ruta de tu imagen de fondo */
    background-size: cover; /* Para que la imagen de fondo cubra toda la pantalla */
    background-repeat: no-repeat;
}


.btn_ResetContra{
    width: 50%;
    height: 40px;
    border-radius: 40px;
    background: rgb(86, 86, 86);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
}


#texto_ResetContra{
    padding-inline: 20px;
    padding-block: 5px;
}

#input_resetContra input{
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
    border-bottom: 2px solid rgb(86, 86, 86);
}

#input_resetContra{
    padding-inline: 20px;
    padding-block: 5px;
}

.btn_position{
    text-align: center;
    padding-block: 30px;
  }


.form-box2-reset {
    position: relative;
    width: 600px;
    height: 450px;
    background: rgb(218, 224, 224);
    border: 2px solid rgba(32, 138, 161, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}
